 body
{
	background-color: #f2f0ef;
}

	ul.gallery
	{
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		float: left;
		margin-bottom: 5px;
		background: #f2f0ef;
		
	}	
		ul.gallery li
		{
			width: 11.7%;
			height: 192px;
			margin-left: 0.4%;
			margin-right: 0.4%;
			margin-bottom: 10px;
			float: left;
		}
			ul.gallery li a
			{
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0.75;
				border: 1px solid #f2f0ef;
				transition: opacity 0.2s, border 0.2s;
				overflow: hidden;
			}
			ul.gallery li a:hover
			{
				border: 1px solid #ffffff;
				opacity: 1;
			}
				ul.gallery li a img
				{
					object-fit: cover;
					width: 100%;
					height: 100%;
					transition: width 0.3s, height 0.3s;
				}
				ul.gallery li a img:hover
				{
					width: 110%;
					height: 115%;
				}