@font-face
{
	font-family: 'holistya-snow';
	src: url(holistya-snow.otf);
}

body
{
	margin: 50px;
	padding: 0;

	background-image: url("background/winter.jpg");
	background-repeat: repeat;
	background-position: top-right;	
	
	color: #2F4F4F;
	font-family: 'holistya-snow';
	text-align: center;
	font-size: 130px;
	text-transform: uppercase;
	text-decoration: bold;
	line-height: 1.8;
	text-shadow: 3px 2px black;
}