@font-face
{
	font-family: 'holistya-snow';
	src: url(holistya-snow.otf);
}

body
{
	margin: 0;
	padding: 0;

	background-image: url("background/tojaslikor.jpg");
	background-repeat: repeat;
	background-position: top-right;	
	
	color: #ffffff;
	font-family: 'holistya-snow','Bodoni MT';
	text-align: center;
}

header h1
{
	font-size: 80px;
	margin: 10px;
}

section h2
{
	font-size: 50px;
	margin: 20px;
}

section ul, section p
{
	font-family: 'Bodoni MT';
	list-style: none;
	margin: 10px;
}
