@font-face
{
	font-family: 'holistya-snow';
	src: url(holistya-snow.otf);
}

body
{
	margin: 0;
	padding: 0;

	background-image: url("background/vendegkonyv.jpg");
	background-repeat: repeat;
	background-position: top-right;	
	
	color: #ffffff;
	font-family: 'holistya-snow','Bodoni MT';
	text-align: center;
}

header h1
{
	font-size: 100px;
	margin: 10px;
}

section h2, section p
{
	font-family: 'Bodoni MT';
	font-size: 22px;
	margin-left: 200px;
	margin-right: 200px;
}

section form
{
	font-family: 'Bodoni MT';
	font-size: 25px;
}

p
{
	font-size: 40px;
}

section form
{
	display: block;
}

